.specialrequestform {
  padding: 2rem;
}
#booking-assistant {
  display: none;
}
.list-table,
.list-h3,
.list-h2 {
  display: none;
}
.vba h3 {
  display: block;
  margin: 1rem  0;
}
.vba-label-image,
.vba-card-1 {
  display: none;
}
.vba-label {
  display: inline-flex;
}
h3,
button {
  display: inline-flex;
  align-items: center;
  border: 1px solid red;
  margin: 0 1rem 0.5rem 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
h3::before,
button::before {
  content: "\2610";
  margin: 0 0.5rem 0 0;
  font-size: 20px;
}
h3.active::before,
button.active::before {
  content: "\2611";
}
h3:hover,
button:hover {
  background-color: black;
  color: white;
}
h3:hover::before,
button:hover::before {
  content: "\2611";
}
